
/node_modules
/dist
/.env
/coverage
.DS_Store
*.log

../.idea
../.vscode
*.iml

/server/.env
/client/.env
/webpack.config.js
/.eslintcache
/.prettiercache
/.eslintignore
/.prettierignore
/.vscode
/server/.vscode
/server/.env
/client/.vscode
/client/.env
